/**
 * DuckDuckGo Minimal
 * Copyright 2011 Tom Vincent <http://www.tlvince.com/contact/>
 *
 * See: https://github.com/tlvince/userstyles/tree/master/duckduckgo
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(duckduckgo.com) {
    /* Remove header and 'powered by */
    #hw, #rpb { display: none; }

    /* Reset results padding */
    #c2 { padding: 0 ;}

    /* Centre results */
    #rpr, #r12 { margin-left: auto; margin-right: auto; }
}
