#mw-mf-header, #footer, #mw-mf-last-modified {
    display: none;
}

body, .mw-mf-overlay {
    margin: 0 25%;
}

body {
    font-size: 125%;
}

sup.reference a {
    font-size: 75%;
}

#mf-notification {
    width: 50%;
}
