/**
 * Wikipedia Minimal
 * Copyright 2010-2011 Tom Vincent <http://www.tlvince.com/contact/>
 *
 * See: https://github.com/tlvince/userstyles/tree/master/wikipedia
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(wikipedia.org), domain(wikibooks.org),
    domain(wikiversity.org), domain(wiktionary.org), domain(wikiquote.org),
    domain(wikisource.org), domain(wikimedia.org), domain(wikinews.org), 
    domain(uncyclopedia.org) {
    body {
        font-size: 1.2em !important;
        background: none !important;
    }
    #content {
        max-width: 24em;
        margin-left: auto !important;
        margin-right: auto !important;
        background-image: none !important;
        padding: 0px !important;
    }
    .noprint, .editsection, #footer, #centralNotice {
        display: none;
    }
    .infobox {
        float: none;
        width: 0;
        margin: 1em 3em;
    }
    .references, pre {
        overflow: auto;
    }
    .reference {
       font-size: 0.5em !important;
    }
    pre {
        padding: 0 0 0.5em 0 !important;
    }
}
