div.yt-grid-box, div.yt-alert.yt-alert-default.yt-alert-info,
div.collapsible-guide, #watch-discussion, #footer-container,
div.guide-module-content.yt-scrollbar, div.secondary-col, #watch7-branded-banner {
    display: none;
}

#player-api {
    width: 100%;
}

body {
    padding: 0 23%;
}

#player {
    padding-left: 150px;
    background: none;
}

#watch7-main-container {
    margin-left: -150px;
    margin-top: 25px;
}

#watch7-sidebar {
    margin-top: 0;
}

#page-container {
    margin-left: -150px;
}
